.metadata-tab {
    width: 30em;
    height: 35.3em;
    padding: 1em;
    background-color: white;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;

}

.metadata-tab h3 {
    margin-bottom: 10px;
}

.metadata-tab button {
    /* margin-top: 10px; */
    padding: 8px 15px;
    background-color: #1677ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.metadata-tab button:hover {
    background-color: #1677ff;
    color: #fff;
}

.metadata-table {
    display: flex;
}

.metadata-tab .column {
    flex: 1;
}

.metadata-tab .key-column>div {
    margin-bottom: 1.25em;
}

.metadata-item {
    box-sizing: border-box;
    padding: 5px;
}

/* .key-item {
    font-weight: bold;
} */

.metadata-tab .value-item input {
    padding: 5px;
    border: 1px solid #ccc;
}


.metadata-input {
    display: flex;
    /* margin-left: 2em; */
}

.metadata-tab input {
    height: 2.5em;
    margin: 0 .5em;
    width: 12em;
    border-radius: 5px;
}